
div.parent-div.container-fluid.dashboard-container {
  padding: 0px;
  height:500vh;

  .dashboard-design {
    height: 100%;

    .dashboard-tabs {
      height:100%;

      #dashboard-tabs {
        height:100%;

        .tab-content {
          height:100%;

          .tab-pane {
            height: 100%;
            
            .panel.panel-default {
              height: 100%;
            }
          }
        }
      }
    }
  }
  
  nav.navbar.navbar-default {
    width: 100%;
    margin: 0px;
  }  
 
  div.panel-body {
    padding:0px;
    height: inherit;
  }
  
  #dashboardAreaWrapper {
    height: inherit;
    
    .background-color-picker {
      width: 200px;
    }

    .dashboard-btn-wrapper {
      box-sizing: border-box;
      padding: 10px;
      display: inline-block;
      width: 150px;
    }

    .color-picker {
      position: absolute;
      right: 30px;
      z-index: 1000;
    }
    .color-picker-button {
      margin-right: 19px;
      margin-top: 8px;
      height: 35px;
      width: 35px;
      right: 20px;
      background: #eee;
      box-sizing: border-box;
      padding: 5px;
      border-radius: 50%;
      float: right;
    }

    .color-picker-content {
      height: 25px;
      width: 25px;
      border-radius: 50%;
    }

    #dashboardArea {
        height: 100%;
        position: relative;
        overflow: auto;

        .rnd-filter-wrapper {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;

          .rnd-filter-label {
            font-weight: bold;
            margin-right: 5px;
            margin-top: 5px;
          }

          .rnd-filter {
            flex-grow: 1;
          }
        }

        h3 {
          background: white;
          text-align: center;
          margin: 0;
          padding: 15px 0 15px 0;
          display: inline-block;
          width: 100%;
        }

        .edit-icon {
          height: 20px;
          width: 20px;
          margin-left: -65px;
          margin-top: 3px; 
          cursor: pointer;
        }

        .delete-icon {
          height: 16px;
          width: 18px;
          margin-left: 8px;
          cursor: pointer;
        }
        .filter-delete-icon {
          height: 16px;
          width: 16px;
          margin-left: 8px;
          cursor: pointer; 
        }
        .filter-edit-icon {
          height: 17px;
          width: 17px;
          margin-left: 4px;
          margin-top: 3px; 
          cursor: pointer;
        }
        #chartChangeDropdown {
          width: 50%;
          margin-top: 5px;
          display: inline-block ;
          position: relative;
          .Select-control {
            top: 13px;
          }

          .Select-menu-outer {
            top: 50px;
          }
        }

        input[type='text'] {
          min-width: 0;
          margin: 0
        }
      }
  }

}
.add-icon {
  height: 32px;
  width: 32px;
  cursor: pointer; 
}
