#dashboardAreaWrapper {
  height: 100vh;
  overflow: hidden;
  #dashboardArea {
      height: 90vh;
      margin-top: 2%;
      position: relative;
      overflow: scroll;

      .rnd-filter-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        img {
          height: 20px;
          width: 20px;
          margin-left: 0;
        }

        .rnd-filter-label {
          font-weight: bold;
          margin-right: 5px;
          margin-top: 5px;
        }

        .rnd-filter {
          flex-grow: 1;
        }
      }

      h3 {
        background: white;
        text-align: center;
        margin: 0;
        padding: 15px 0 15px 0;
        display: inline-block;
        width: 100%;
      }

      .edit-icon {
        height: 20px;
        width: 20px;
        margin-left: -65px;
        margin-top: 3px; 
        cursor: pointer;
      }

      .delete-icon {
        height: 16px;
        width: 18px;
        margin-left: 8px;
        cursor: pointer;
      }

      #chartChangeDropdown {
        width: 50%;
        margin-top: 5px;
        display: inline-block ;
        position: relative;
        .Select-control {
          top: 13px;
        }

        .Select-menu-outer {
          top: 50px;
        }
      }

      input[type='text'] {
        min-width: 0;
        margin: 0
      }
    }
}

