#dashboardAreaWrapper {
  height: 100vh;
  overflow: hidden;
  #dashboardArea {
      background: $light_gray_color;
      height: 92vh;
      margin-top: 2%;
      position: relative;
      overflow: scroll;

      h3 {
        background: white;
        text-align: center;
        margin: 0;
        padding: 15px 0 15px 0;
        display: inline-block;
        width: 100%;
      }

      img {
        height: 20px;
        width: 20px;
        margin-left: -25px;
      }

      #chartChangeDropdown {
        width: 50%;
        margin-top: 5px;
        display: inline-block ;
        position: relative;
        .Select-control {
          top: 13px;
        }

        .Select-menu-outer {
          top: 50px;
        }
      }

      input[type='text'] {
        min-width: 0;
        margin: 0
      }
    }
}

