html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: white; 
  min-height: 100vh;
  font-family: Roboto;
  overflow-y: scroll; //To avoid flickering due to scrollbar width
}

#root{
  min-height: 100vh;
  font-family: Roboto;
  overflow-y: scroll;
}

.response-section {
  margin-top: 5%;
}

a[role="menuitem"] > i.fa {
  padding-right: 12px;
}

.full-height {
  height: 100%
}

.active {
  background-color: $white-color !important;
  border-color: $border-color !important;
  color: $black_color !important;
}

.parent-div {
  height: 100%;
}

.clickable-element {
  cursor: pointer;
}

select {
  min-width: 119px;
  padding: 7px;
  border: 1px solid $border-color;
  background: white;
  border-radius: 4px;
}

input[type='number'], input[type='text'] {
  padding: 7px;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid $border-color;
}

input[type='checkbox'] {
  width: 23px;
  height: 24px;
}

.modal-body {
  display: block;
  overflow: auto;
  max-height: 68vh;
  max-width: 100%;
}

button {
  outline: none !important;
}

/*Scrollbar styles*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border: 0px dashed $white_color;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: $blue_color;
}
::-webkit-scrollbar-thumb:active {
  background: $primary;
}
::-webkit-scrollbar-track {
  background: $white-color;
  border: 0px none $white_color;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: $light_gray_color;
}
::-webkit-scrollbar-track:active {
  background: $white_color;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.hidash-btn {
  background-color: $primary;
  border-radius: 2px;
}

.hidash-btn:hover {
  background-color: $blue_color;
  border-radius: 2px;
}

/*Overriding Ace editor CSS*/
.ace_editor {
  border: 1px solid #ccc;
  margin: 0px 0px 10px 0px;
}

.ace-tomorrow{
  .ace_content {
    background-color: #f4f4f4;
  }
}

.ace_gutter {
  background: #e8e8e8 !important;
  color: #AAA !important;
}

/*Overriding bootstrap CSS*/

h3 {
  margin: 10px 0;
}

.Select-menu-outer {
  z-index: 10 !important;
}

input[type='radio'] {
  width: 16px;
  height: 21px;
}

h2, .h2 {
  font-size: 20px;
}

.caret {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

label {
  font-weight: 500;
  line-height: 2;
}

h3, .h3 {
  font-size: 19px;
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
}


.btn-primary {
  background: $squealy-theme-blue;
  border-color: $squealy-theme-blue;
}

.btn-primary:hover, .btn-primary:active {
  background: $squealy-theme-blue-active;
  border-color: $squealy-theme-blue-active;
}
  
.btn-success {
  background: $squealy-success;
  border-color: $squealy-success;
}

.btn-success:hover, .btn-success:focus, 
.open > .btn-success.dropdown-toggle:hover, 
.open > .btn-success.dropdown-toggle:focus, 
.open > .btn-success.dropdown-toggle.focus
 {
  background: $squealy-success-active;
  border-color: $squealy-success-active;  
}

.help-container {
  width: 100%;
  height: auto;

    h5 {
      font-weight: bold;
      font-size: 16px;

      a {
        margin: 0 5px;
      }
    }

  .code-description-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around;
    padding-top: 15px;

    .code-description {
      width: 50%;
      padding-right: 15px;

      p {
        text-align: justify;
      }
    }
  }

}

.validation-error{
  p {
    color:$red_color;
  }
}

.filter-select {
  display: block;
}