@import 'variables';
@import 'mixins';
@import './../Components/sass/apiList';
@import './../Components/sass/apiParams';
@import './../Components/sass/mainComponent';
@import './../Components/sass/responseSection';
@import './../Components/sass/sidebar.scss';
@import './../Components/sass/transformations.scss';

html, body, #root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
}

.active {
  background-color: $light_gray_color !important;
  border-color: $border_color !important;
  color: $black_color !important;
}

select {
  min-width: 119px;
  padding: 5px;
  border: 1px solid $border_color;
  background: white;
  border-radius: 4px;
}

input[type='text'] {
  padding: 7px;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid $border_color;
}

.export-btn {
  float: left;
  margin-top: 7px;
  margin-right: 17px;
  font-size: 16px;
}

.modal-body {
  display: block;
  overflow: auto;
  max-height: 68vh;
  max-width: 100%;
}

/*Scrollbar styles*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border: 0px dashed $white_color;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: $blue_color;
}
::-webkit-scrollbar-thumb:active {
  background: $primary;
}
::-webkit-scrollbar-track {
  background: $light_gray_color;
  border: 0px none $white_color;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: $light_gray_color;
}
::-webkit-scrollbar-track:active {
  background: $white_color;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.hidash-btn {
  background-color: $primary;
  border-radius: 2px;
  width: 100%;
}

.hidash-btn:hover {
  background-color: $blue_color;
  border-radius: 2px;
  width: 100%;
}

/*Overriding Ace editor CSS*/
.ace_editor {
  border: 1px solid #ccc;
  margin: 0px 0px 10px 0px;
}

.ace-tomorrow{
  .ace_content {
    background-color: #f4f4f4;
  }
}

.ace_gutter {
  background: #e8e8e8 !important;
  color: #AAA !important;
}

/*Overriding bootstrap CSS*/
.navbar {
  margin: 0 -15px;
}

h3 {
  margin: 10px 0;
}

.Select-menu-outer {
  z-index: 10 !important;
}

.nav-tabs > li > a {
  padding: 6px 15px;
}

input[type='radio'] {
  width: 16px;
  height: 21px;
}

input[type='checkbox'] {
  width: 23px;
  height: 19px;
}

h2, .h2 {
  font-size: 20px;
}

.navbar-brand {
  padding: 6px 15px;
  > a {
    font-size: 29px;
    margin-bottom: 3px;
    color: #5e5e5e;
    background-color: transparent;
    text-decoration: none !important;
  }
  > p {
    font-size: 13px;
    color: #3f51b5;
    font-weight: 600;
    font-style: italic;
  }
}

.navbar {
  min-height: 60px;
  padding: 3px;
}

.caret {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.navbar-default .navbar-nav > li > a {
  font-size: 17px;
}

label {
  font-weight: 500;
}

h3, .h3 {
  font-size: 19px;
}

hr {
  margin-top: 12px;
  margin-bottom: 12px;
}

.ReactTable .-pagination .-btn:not([disabled]) {
  color: #fff !important;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
  color: #fff !important;
  background-color: #31b0d5 !important;
  border-color: #269abc !important;
}

a[aria-selected="false"] > div.api-tab > div.dropdown {
  visibility: hidden;
}

a[aria-selected="true"] > div.api-tab > div.dropdown {
  visibility: visible;
}

.modal-body {
  overflow: visible;
}
