$side-bar-width: 21%;
$white-color: #fff;
$black-color: #000;
$border-color: #ddd;
$light-gray-color: #ededee;
$blue-color: #458fff;
$orange-color: #f39448;
$primary: #45a5ff;
$dark-gray-color: #777;
$side-menu-heading-font-size: 18px;
$text-color: #666;
$squealy-theme-blue: #0c8adc;
$squealy-theme-blue-active: #096eb0;
$squealy-success: #1c9a71;
$squealy-success-active: #136b4f;
$highlighted-left-menu: #fdfdfd;

