$side_bar_width: 21%;
$white_color : #fff;
$black_color : #000;
$border_color: #ddd;
$light_gray_color : #e6e6e6;
$blue_color: #458fff;
$orange_color: #f39448;
$primary: #45a5ff;
$dark_gray_color: #777

