$side-bar-width: 21%;
$white-color: #fff;
$black-color: #000;
$border-color: #ddd;
$light-gray-color: #e6e6e6;
$blue-color: #458fff;
$orange-color: #f39448;
$primary: #45a5ff;
$dark-gray-color: #777;
$side-menu-heading-font-size: 18px;
$text-color: #666;

