coverage==4.0.3
Django==1.10.2
django-celery==3.2.1
djangorestframework==3.5.1
django-nose==1.4.4
jinjasql==0.1.4
django-cors-headers==1.2.2
arrow==0.8.0
psycopg2==2.6.2
dj-database-url==0.4.2
MySQL-python==1.2.5
gunicorn==19.6.0
whitenoise==3.3.0
PyJWT==1.4.2
croniter==0.3.16
PyAthenaJDBC==1.0.9
social-auth-app-django==1.1.0
