.tabs-container {
	border-bottom: 1px solid $border_color;
	height: 50px;
	padding: 8px 0 2px 0;

	.tab-component {
		margin-left: 10px;
	}
	.transformation-container {
		display: inline-block;
		background: red;
		width: 50px;
	}
	.transformations-count-badge {
		top: -34px !important;
    right: -17px !important;
	}
}
.response-table {
	height: 200px;
}
