.modal-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  .validation-query {
    padding: 0 4px 0 0 ;
  }
  .add-modal-content {
    > button.btn-success {
      margin-top: 10px;
      font-size: 13px;
      font-weight: bold;
      > i.fa-angle-double-left {
        padding-right: 7px;
        font-weight: bold;
      }
    }
  }
}

.modal-header {
  background: $squealy-theme-blue;
  color: $white-color;
  .close {
    opacity: 1;
    color: $white-color;
  }
}

