.navbar {
  margin: 0 -15px;
  min-height: 58px;
  padding: 3px;
  background: $white-color;
  box-shadow: 0px 3px 7px 0px $border-color;
  border-radius: 0;
  z-index: 10;
  border-color: $white-color;
}

.nav-tabs > li > a {
  padding: 6px 15px;
  margin-bottom: 10px;
}

.navbar-brand {
  padding: 6px 15px;
  > a {
    font-size: 29px;
    margin-bottom: 3px;
    color: #5e5e5e;
    background-color: transparent;
    text-decoration: none !important;
  }
  > p {
    font-size: 13px;
    color: #3f51b5;
    font-weight: 600;
    font-style: italic;
  }
}

.navbar-default .navbar-nav > li > a {
  font-size: 17px;
}