.chart-type-select {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  >img {
    height: 26px;
    margin-left: 15px;
  }
}

.chart-config-modal {
  width: 70%;
}

.error-box {
  min-height: 85px;
  background: #ffcccc;
  color: #ff0000;
  font-size: 17px;
  font-family: Roboto Bold;
  text-align: center;
  padding: 10px;
  line-height: 2;
}
