.side-menu {
  border-right: 1px solid $border-color;
  padding-top: 10%;
}

.side-menu-container {
  min-height: calc(100vh - 58px);
  position: relative;
  .side-menu-parent {
    padding-top: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: $light-gray-color
  }
  .chart-list {
    margin-bottom: 25px;
    ul {
      list-style: none;
      padding: 0;
    }
    .selected-chart {
      text-decoration: underline;
      font-weight: bold;
    }
    li {
      margin-top: 2%;	
      margin-right: 15px;
      text-indent: 50px;
      height: 25px;
      padding-top: 4px;
      span {
        cursor: pointer;
      }
      span:hover {
        color: $squealy-theme-blue;	
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  .side-menu-heading {
    width: 93%;
    span {
      margin-left: 20px;
      font-size: $side-menu-heading-font-size;
      color: $text-color;
      font-family: Roboto Bold;
    }
    img {
      width: 25px;
    }
    .add-new {
      float: right;
      right: 0;
      cursor: pointer;
      color: $squealy-theme-blue;
      font-size: 20px;
    }
  }
}


