.api-sidebar {
  max-height: 100%;
  max-width: 21%;
  height: 100%;
  width: 21%;
  background-color: $white_color;
  border: 1px solid $light_gray_color;
}

.api-sidebar.open {
  left: 0;
  overflow: auto;

  .api-list-header {
    text-align: center;
  }

  div {
    padding: 2% 2%;
  }

  ul > button {
    float: right;
    margin-top: 5%;
  }
}

.api-sidebar-toggle {
  z-index: 1;
}

.api-sidebar-toggle.open {
  left: 94%;
}

.api-list-item > i {
  float: right;
  font-size: 1.3em;
}

.api-list-item > span:hover {
  @include on-hover-style
}
