.column-definition-section {
  border-bottom: 1px solid $border_color;
  margin-bottom: 26px;
  .panel-group {
    margin-bottom: 0;
  }

  #column_definition_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    .column-definition {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: space-between;

      label {
        font-weight: bold;
        margin-right: 5px;
      }

      input[type='text'] {
        min-width: 200px;
        margin: 0;
        flex: 1;
      }

      .Select {
        min-width: 200px;
        flex: 1;
      }
    }
  }
}
