.query-error-section {
  margin-left: 1%;
  margin-right: 1%;
}

.hidash-sql-editor-component, .hidash-query-response-grid {
  height: 100%;
}

.hidash-sql-editor-component > .submit-button {
  margin: 0 0 5px 10px;
}

a:hover#api-tabs-tab-add_tab, a:active#api-tabs-tab-add_tab, a:visited#api-tabs-tab-add_tab, a:focus#api-tabs-tab-add_tab {
  background-color: $white_color;
  border-color: $white_color;
  outline:0;
  border:none;
}

div.panel.panel-default {
  border: none;
}

.api-section {
  margin: 1% 40px 7% 0px;
  .api-btn-wrapper {
    float: left;
    margin-right: 1%;
    width: 100px;
  }
  .transformations-wrapper{
    float: left;
    .transformations-select {
      float: left;
      width: 100%;
      min-width: 200px;
      margin-bottom: -4px;
    }
  }
  .response-format {
    float: right;
  }
}

.response-section {
  margin-top: 5%;

}

.hidash-sql-editor-component > .query-text {
  margin: 5px 0 5px 10px;
}

.query-text {
  padding: 5px;
  min-width: 50%;
  min-height: 70%;
}

.editor-container {
  left: 0;
  right: 0;
  height: 100%;
  background-color: $white_color;
  padding-left: 16px;
}

.tab-plus-icon {
  font-size: 1.6em !important;
  color: $blue_color;
}

a:link#api-tabs-tab-add_tab {
  padding: 8.5px 19px;
  border: none;
  background: $white_color;
}

.merged-column {
  margin-left: 15px;
  margin-right: 15px;
}

.merged-column-content > div.row {
  margin-bottom: 10px;
}

.api-url-group {
  margin-top: 3px;
  > input[type='text'] {
    border: 1px solid $white_color;
    font-size: 15px;
    padding-left: 0;
  }

  .form-control {
    box-shadow: none;
  }

  span.input-group-addon {
    display: none;
  }
}

.api-url-group:hover {
  span.input-group-addon {
    display: table-cell;
  }

  > input[type='text'] {
    border: 1px solid $light_gray_color;
    height: 31px;
    padding-left: 5px;
  }

  .form-control {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  }
}

.api-url {
  margin-bottom: 21px;
  > h2 {
    margin-top: 10px;
    margin-bottom: 0px; 
  }
  .input-group {
    margin-top: 5px;
    margin-bottom: 10px; 
  }
}

.database-selection-wrapper {
  > .Select {
    margin-bottom: 11px;
  }

  h2 {
    margin-top: 6px;
  }
}

#addMergedColumnModal > .modal-dialog > .modal-content > .modal-body, 
  #addSplitColumnModal > .modal-dialog > .modal-content > .modal-body {
  overflow: visible;
}

a[role="menuitem"] > i.fa {
  padding-right: 12px;
}
