.side-menu {
  border-right: 1px solid $border-color;
  padding-top: 10%;
}

.side-menu-container {
  min-height: calc(100vh - 58px);
  position: relative;
  .side-menu-parent {
    padding-top: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: $light-gray-color
  }
  .chart-list {
    margin-bottom: 25px;
    > ul {
      list-style: none;
      padding: 0;
      > li {
        margin-top: 2%;	
        margin-right: 15px;
        text-indent: 50px;
        height: 25px;
        padding-top: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
          cursor: pointer;
        }
      }
      > li:hover, li:focus {
        span {
          color: $squealy-theme-blue;	
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
    .selected-chart {
      text-decoration: underline;
      font-weight: bold;
      background: $highlighted-left-menu;
      margin-left: -15px;
      margin-right: -15px;
      text-indent: 65px;
    }
    .right-button-clicked {
      opacity: 0.6;
      background: $highlighted-left-menu;
      margin-left: -15px;
      margin-right: -15px;
      text-indent: 65px !important;
      span {
        color: $squealy-theme-blue;	
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  .side-menu-heading {
    width: 93%;
    span {
      margin-left: 20px;
      font-size: $side-menu-heading-font-size;
      color: $text-color;
      font-family: Roboto Bold;
    }
    img {
      width: 25px;
    }
    .add-new {
      float: right;
      right: 0;
      cursor: pointer;
      color: $squealy-theme-blue;
      font-size: 20px;
    }
  }
}

.left-nav-menu {
  list-style: none;
  padding: 0;
  position: absolute;
  background: $white-color;
  border: 1px solid $border-color;
  left: 174px;
  z-index: 10;
  min-width: 213px;
  > li {
    text-indent: 10px;
    margin-top: 2%;	
    padding-right: 15px;
    height: 25px;
    cursor: pointer;
    > i {
      float: right;
    }
  }
  li.close-option {
    border-top: 1px solid $border-color;
    padding-top: 3px;
    margin-bottom: 5px;
  }
}

.chart-modal-db {
  padding-left: 0;
}

.chart-name-error {
  color: $red-color;
}
