option_settings:
 - namespace: aws:elasticbeanstalk:container:python
   option_name: WSGIPath
   value: "squealyproj/wsgi.py"
 - namespace: aws:elasticbeanstalk:container:python:staticfiles
   option_name: "/static/"
   value: "squealyproj/staticfiles/"
 - namespace: aws:autoscaling:asg
   option_name: MaxSize
   value: 1

container_commands:
 02_migrate:
   command: "python manage.py migrate --noinput"
   leader_only: true
 03_get_static_files:
   command: "python manage.py collectstatic --noinput"