{% load static %}
{% load squealy_filters %}

<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">

    <title></title>
     <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css"> -->
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script> -->
  </head>
  <body>
  {% for filter in filters %}
    <div>
      <label>
        {{filter.name}}
      </label>
      {% if filter.data_type == 'date' %}
        <input id={{filter.name}} type="date" onchange="updateFilterValues({{filter.name}})" />
      {% endif %}
    </div>
  {% endfor %}
    <div id="chart"></div>
    <script>
      // Load google chart's js script
      google.charts.load('current', {packages: ['corechart']});
      // Fetch chart data and draw chart when goog charts packages have loaded
      google.charts.setOnLoadCallback(drawChart);

      function getUrlParams() {
        let pageURL = decodeURIComponent(window.location.search.substring(1)),
            urlVariables = pageURL.split('&'),
            parameterName,
            i
          return JSON.parse('{"' + decodeURI(pageURL).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}')
      }

      function setUrlParams(newParams) {
        let queryString = Object.keys(newParams).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(newParams[k])
        }).join('&')
        var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?" + queryString;
        window.history.replaceState({path:newurl},'',newurl);
      }

      let queryParams = getUrlParams()

      // Set initial filter values
      $.each({{filters|js}}, function(index, filter) {
        let filterValue = undefined
        if (filter.name in queryParams) {
          filterValue = queryParams[filter.name]
        } else {
          filterValue = filter.default_value
          queryParams[filter.name] = filterValue
        }
        $('#'+filter.name).val(filterValue);
      });

      setUrlParams(queryParams)

      function updateFilterValues(filter) {
        queryParams[filter.id] = filter.value;
        drawChart();
        setUrlParams(queryParams)
      }

      function drawChart() {
        let apiUrl = window.location.href.split('?')[0]
        apiUrl += '?'
        for(let key in queryParams) {
          if(key !== 'type'){
            apiUrl += key + '=' + queryParams[key] + '&'
          }
        }
        $.ajax({
          url: apiUrl,
          method: 'GET',
          contentType: 'application/json',
          success: function(chartData) {
            var wrapper = new google.visualization.ChartWrapper({
              chartType: 'ColumnChart',
              dataTable: chartData,
              containerId: 'chart'
            });
            wrapper.draw();
          }
        })
      }
    </script>
  </body>
</html>
