<div 
  class="filter-wrapper"
  id="{{ forloop.counter }}"
>
  <label class="filter-label">
    {{filter.label}}
  </label>
  {% if filter.type == 'date' %}
    <div class='input-group date filter' id='datetimepicker1'>
        <input
          type='text'
          class="form-control"
          onchange="updateFilterValues('{{filter.label}}', event)"
        />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
  {% elif filter.type == 'input'%}
    <input
      type="text"
      class="filter"
      onchange="updateFilterValues('{{filter.label}}', event)"
      id="{{filter.label}}"
    />
  {% elif filter.type == 'dateTime'%}
    <input
      type="datetime-local"
      class="filter"
      onchange="updateFilterValues('{{filter.label}}', event)"
      id="{{filter.label}}"
    />
  {% elif filter.type == 'dropdown'%}
    <select
      onchange="updateFilterValues('{{filter.label}}', event)"
      class="filter"
      id="filter_{{forloop.counter}}"
    />
    <script>
      getOptions('{{filter.apiUrl}}', 'filter_{{forloop.counter}}')
    </script>
  {% endif %}
</div>

<script>
  $("#{{ forloop.counter }}").css(
    {
      top: {{filter.top}}*GRID_HEIGHT + 'px',
      left: {{filter.left}}*GRID_WIDTH+ 'px',
      width: {{filter.width}}*GRID_WIDTH + 'px'
    }
  )
</script>
