<div 
  class="filter-wrapper"
  id="{{ forloop.counter }}"
>
  <label class="filter-label">
    {{filter.label}}
  </label>
  {% if filter.type == 'dateTime' %}
    <div class='input-group date filter' id='datetimepicker_{{forloop.counter}}'>
        <input
          type='text'
          class="form-control"
          onchange="updateFilterValues('{{filter.label}}', event)"
          id="{{filter.label}}"
        />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker_{{forloop.counter}}').datetimepicker();
                $('#datetimepicker_{{forloop.counter}}').on('dp.change', function(event) {updateDatetimeFilterValues('{{filter.label}}', event)})
            });
        </script>
    </div>
  {% elif filter.type == 'input'%}
    <input
      type="text"
      class="filter"
    />
  {% elif filter.type == 'date'%}
    <div class='input-group date filter' id='datepicker_{{forloop.counter}}'>
        <input
          type='text'
          class="form-control"
        />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <script type="text/javascript">
            $(function () {
                $('#datepicker_{{forloop.counter}}').datetimepicker({format: 'YYYY-MM-DD'});
                $('#datepicker_{{forloop.counter}}').on('dp.change', function(event) {updateDateFilterValues('{{filter.label}}', event)})
            });
        </script>
    </div>
  {% elif filter.type == 'dropdown'%}
    <select
      onchange="updateFilterValues('{{filter.label}}', event)"
      class="filter"
      id="filter_{{forloop.counter}}"
    />
    <script>
      getOptions('{{filter.apiUrl}}', 'filter_{{forloop.counter}}')
    </script>
  {% endif %}
</div>

<script>
  $("#{{ forloop.counter }}").css(
    {
      top: {{filter.top}}*GRID_HEIGHT + 'px',
      left: {{filter.left}}*GRID_WIDTH+ 'px',
      width: {{filter.width}}*GRID_WIDTH + 'px'
    }
  )
</script>
