<div 
  id="widgetWrapper{{ forloop.counter }}"
  class="widget-wrapper"
>
  <h3
    class="widget-header"
    id="widget_header{{ forloop.counter }}"
  >
    {{widget.title}}
  </h3>
  <div
    id='chart_{{forloop.counter0}}'
  >
  </div>
</div>

<script>
  $(window).resize(function() {
    $("body").height(document.body.scrollHeight+ 15 )
    $("body").width(document.body.scrollWidth)
});

  $("#widgetWrapper{{ forloop.counter }}").css(
    {
      top: {{widget.top}}*GRID_HEIGHT + 'px',
      left: {{widget.left}}*GRID_WIDTH+ 'px',
      width: {{widget.width}}*GRID_WIDTH + 'px',
      height: {{widget.height}}*GRID_HEIGHT + 'px'
    }
  )
  $(window).trigger('resize');
</script>
